/*
 *
 * CONFIG
 *
 */
body {
  opacity: 0;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
  text-decoration: inherit;
}

/*
 *
 * COMPONENTS
 *
 */
.bar-counter {
  background-color: black;
  color: white;
}

.bar-counter__header {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  font-family: "roboto";
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

@media screen and (min-width: 576px) {
  .bar-counter__header {
    font-size: 14px;
  }
}

@media screen and (min-width: 767px) {
  .bar-counter__header {
    font-size: 20px;
  }
}

.bar-counter__date-container {
  display: inline-block;
}

.bar-counter__date {
  text-align: center;
  font: normal normal bold 20px/24px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin: 0;
  padding: 0;
}

.bar-counter__date-label {
  text-align: center;
  font: normal normal normal 10px/24px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin: 0;
  padding: 0;
}

.btn {
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-family: "roboto";
  border: 1px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn:hover {
  opacity: 0.75;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn--buynow {
  background-color: #f8cf61;
  padding: 10px 46px;
}

.btn--dontwait {
  background-color: white;
  padding: 10px 12px;
}

.mini-h {
  text-align: center;
  font: normal normal normal 20px/24px Roboto;
  letter-spacing: 1px;
  color: #f36b7f;
  text-transform: uppercase;
  opacity: 1;
}

/*
 *
 * NAV BAR
 *
 */
nav {
  background: transparent url("../img/BG.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
  background-size: cover;
  height: 80px;
}

nav .logo {
  width: calc(118px + (170 - 118) * ((100vw - 320px) / (1920 - 320)));
  overflow: visible;
}

nav .links {
  position: relative;
  top: calc(28px + (30 - 28) * ((100vw - 992px) / (2560 - 992)));
}

nav .links__item {
  font-family: Roboto;
  display: inline-block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-bottom: 3px solid transparent;
}

nav .links__item:hover {
  font-weight: bold;
  border-bottom: 3px solid white;
}

nav .links__item::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.mobile-nav {
  overflow: hidden;
  background-color: #f4f0ec;
}

.mobile-nav__item {
  font-family: Roboto;
  display: block;
}

.slider {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 0px;
}

.slider.open {
  height: 215px;
  overflow: auto;
}

/*
 *
 * BUYNOW & PHOTOS
 *
 */
.buynow__pack-name {
  font: normal normal bold 24px Roboto;
  margin-bottom: 0px;
}

.buynow__p {
  font-family: "Roboto";
}

.photos-img-mobile {
  width: 100%;
  max-width: 500px;
}

.price_img {
  max-width: 148px;
}

/*
 *
 * OFFER
 *
 */
.offer__h {
  text-align: left;
  font: normal normal bold 56px/64px Roboto;
  letter-spacing: 0px;
  color: #333333;
}

.offer__p {
  font-family: "roboto";
  font-size: 16px;
  max-width: 95%;
}

@media screen and (min-width: 576px) {
  .offer__p {
    font-size: 20px;
  }
}

.offer__number {
  font-size: 56px;
  font-weight: 700;
  color: #f36b7f;
  margin-bottom: 0;
  font-family: "roboto";
}

.offer__label {
  text-align: left;
  font: normal normal bold 24px/32px Roboto;
  letter-spacing: 0px;
  color: #333333;
}

/*
 *
 * TEAM
 *
 */
.team {
  background: #f4f0ec 0% 0% no-repeat padding-box;
}

.team__h {
  text-align: center;
  font: normal normal bold 40px/48px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .team__h {
    font-size: 56px;
  }
}

.card--creator {
  width: 13rem;
  border-radius: 8px;
}

.card-title--creator {
  font-family: "roboto";
  font-size: 14px;
  font-weight: bold;
}

@media screen and (min-width: 576px) {
  .card-title--creator {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .card-title--creator {
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) {
  .card-title--creator {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .card-title--creator {
    font-size: 16px;
  }
}

.card__profile-link {
  text-align: left;
  font: normal normal normal 12px/24px Roboto;
  letter-spacing: 0px;
  color: #33333380;
  opacity: 1;
}

/*
 *
 * PRESETS
 *
 */
.mini-h--presets {
  text-align: left;
}

.presets {
  background: #ffffff 0% 0% no-repeat padding-box;
}

.presets__h {
  text-align: left;
  font: normal normal bold 40px/48px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  max-width: 95%;
}

.presets__p {
  text-align: left;
  font: normal normal normal 16px/24px Roboto;
  letter-spacing: 0px;
  color: #333333;
  max-width: 95%;
}

.presets__p--greyed {
  opacity: 0.5;
}

.presets__p--link {
  font-weight: bold;
  color: #f36b7f;
}

.presets__viewer {
  max-width: 95%;
}

.card--presets {
  width: 42%;
  border: 0px;
}

@media screen and (min-width: 576px) {
  .card--presets {
    width: 13rem;
  }
}

@media screen and (min-width: 992px) {
  .card--presets {
    width: 10rem;
  }
}

@media screen and (min-width: 1200px) {
  .card--presets {
    width: 13rem;
  }
}

.card-title--presets {
  font: normal normal bold 15px Roboto;
}

@media screen and (min-width: 576px) {
  .card-title--presets {
    font-size: 16px;
  }
}

.card__author {
  font-family: "roboto";
  opacity: 0.5;
  font-size: 10px;
}

@media screen and (min-width: 576px) {
  .card__author {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .card__author {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .card__author {
    font-size: 16px;
  }
}

.preset-select {
  cursor: pointer;
  border: 5px solid #fff;
  border-radius: 12px;
}

.preset-select--active {
  border: 5px solid #f36b7f;
}

/*
 *
 * DONTWAIT
 *
 */
.dontwait {
  background: #f36b7f 0% 0% no-repeat padding-box;
  border-radius: 8px;
}

.dontwait__header {
  font: normal normal bold 40px/48px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.dontwait__header--pack-name {
  font: normal normal bold 24px/19px Roboto;
}

.dontwait__p {
  font: normal normal normal 16px/24px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.dontwait__p--presets-number {
  line-height: 19px;
}

.dontwait__p--no-wrap {
  white-space: nowrap;
}

/*
 *
 * FAQ
 *
 */
.faq {
  background: #eceef4 0% 0% no-repeat padding-box;
}

.faq__header {
  text-align: center;
  font: normal normal bold 40px/48px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .faq__header {
    font-size: 56px;
  }
}

.faq__question {
  display: inline-block;
  height: 48px;
  text-align: left;
  max-width: 80%;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .faq__question {
    font-size: 24px;
  }
}

.card--faq {
  border-left: none;
  border-right: none;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 0;
}

.card-header--faq {
  background: #eceef4 0% 0% no-repeat padding-box;
  border: 0;
  padding-left: 0;
  padding-right: 0;
}

.card-body--faq {
  text-align: left;
  font: normal normal normal 16px/28px Roboto;
  color: #333333;
  background: #eceef4 0% 0% no-repeat padding-box;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .card-body--faq {
    font-size: 18px;
    padding: 0 60px 20px 20px;
  }
}

.accordion--faq :first-child {
  border-top: none;
}

.btn--faq {
  text-align: left;
  font: normal normal bold 18px/32px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  border: none;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 768px) {
  .btn--faq {
    font-size: 24px;
  }
}

.btn__indication {
  width: 24px;
  line-height: 24px;
  border-radius: 12px;
  float: right;
}

@media screen and (min-width: 768px) {
  .btn__indication {
    width: 48px;
    line-height: 48px;
    font-size: 24px;
    border-radius: 24px;
  }
}

.btn__indication--closed {
  background: transparent;
  border: 1px solid rgba(243, 107, 127, 0.5);
  text-align: center;
  color: black;
  font-size: 18px;
}

.btn__indication--closed:before {
  content: "+";
}

.btn__indication--opened {
  background: #f36b7f 0% 0% no-repeat padding-box;
  text-align: center;
  color: white;
}

.btn__indication--opened:before {
  content: "-";
}

/*
 *
 * CONTACT
 *
 */
.contact {
  background: transparent url("../img/nl_bg.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
  background-size: cover;
}

.contact__h {
  text-align: left;
  font: normal normal bold 40px/48px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.contact__p {
  text-align: left;
  font: normal normal normal 16px/24px Roboto;
  letter-spacing: 0px;
}

.contact__p--grey {
  color: #333333;
  opacity: 0.5;
}

/*
 *
 * FOOTER
 *
 */
.footer {
  background: #82b0d0 0% 0% no-repeat padding-box;
  opacity: 1;
}

.footer__header {
  text-align: left;
  font: normal normal bold 16px/24px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.footer__p {
  text-align: left;
  font: normal normal normal 16px/24px Roboto;
  letter-spacing: 0px;
}

.footer__p--grey {
  color: #333333;
  opacity: 0.5;
}

.footer__p--email {
  font: normal normal bold 16px/24px Roboto;
  color: #ffffff;
  opacity: 1;
}

.footer__logo {
  max-width: 155px;
  min-width: 100px;
}

.footer__hr {
  opacity: 0.5;
}
/*# sourceMappingURL=main.css.map */